<h4>Plan Name: {{ planName }}</h4>
<h4>Auther Name: {{ autherName }}</h4>

<div *ngFor="let category of getSortedCategories()">
  <li
    *ngIf="
      category.parentNoteCategoryId == null && category.isArchived == false
    "
  >
    <span (click)="show(category.id)">{{ category.name }}</span>
    <div *ngIf="isNotesPresent(category.id)">
      <span>Notes</span>
      <ul *ngFor="let notes of getNotes(category.id)">
        <li>{{ notes.dateCreated }}:{{ notes.content }}</li>
      </ul>
    </div>
    <ol>
      <span *ngFor="let subCategory of subCategories">
        <li
          *ngIf="
            subCategory.parentNoteCategoryId == category.id &&
            subCategory.isArchived == false
          "
        >
          {{ subCategory.name }}
          <div>
            <span>Notes</span>
            <ul *ngFor="let notes of getNotes(subCategory.id)">
              <li>{{ notes.dateCreated }}:{{ notes.content }}</li>
            </ul>
          </div>
        </li>
      </span>
    </ol>
  </li>
</div>
